<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-5">
<h1>COUNT US IN FOR THE $100 PLEDGE!</h1>
<br />
  <%= simple_form_for @fund do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :zip %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <br />
    <%= f.submit 'Create', :class => 'btn btn-primary' %>
  <% end %>
</div>